<div id="comments-list">
    {{#commentsDtos}}
        <div class="card" id="comments-{{id}}">
            <div class="card-header"></div>
            <div class="card-body"></div>
        </div>
    {{/commentsDtos}}
</div>